<p class="display-1 mt-5">Welcome to PlanEat! <%= image_tag('Sarten CQ 3.png', style: 'width:120px; height:120px', class: 'img-fluid') %></p>

<p class="display-4">Cook easy and delicious meals <strong class="color-text">everyday</strong></p>
<h4>Stop suffering with cooking and your groceries, just browse through your favorite recipes, choose your menu, and we'll take care of the ingredients, letting you <strong>save up to 30% off</strong> every month</p>

<%= link_to 'Log In', new_user_session_path, class: 'btn btn-lg btn-primary' %>
<%= link_to 'Create New Account', new_user_registration_path, class: 'btn btn-lg color-btn' %>
